<!-- 
    https://codepen.io/pen?&prefill_data_id=dc3307a3-3589-437f-b114-086460e8db3a
 -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Crowd Counting</title>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script
      src="https://cdn.plot.ly/plotly-2.30.0.min.js"
      charset="utf-8"
    ></script>

    <link
      href="{% static 'node_modules/gridstack/dist/gridstack.min.css' %}"
      rel="stylesheet"
    />
    <script src="{% static 'node_modules/gridstack/dist/gridstack-all.js' %}"></script>

    <script>
      $(function () {
        $("#file_upload").click(function () {
          $("#video_file").click();
        });

        $("#video_file").change(function () {
          $("form").submit();
        });

        $("#video_start").click(function () {
          $.get("/proxy/8000/start", function () {});
        });

        $("#graph1").width($(".bottom").width());
        $("#graph1").height($(".bottom").height());
      });
    </script>
  </head>

  <body>
    <header>
      <form
        action="/proxy/8000/upload/"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" name="video" hidden id="video_file" />
        <label for="file"
          ><button type="button" id="file_upload">Upload</button></label
        >
      </form>

      <button id="video_start">Strat</button>
      <button id="video_start">Setting</button>
      <button id="video_start">Reset</button>
      UI LOCK :
      <input type="checkbox" id="lock_check_box" />
      <button id="process-btn">이미지 처리</button>
    </header>
    <div class="content">
      <div class="grid-stack"></div>
    </div>

    <script type="module" src="{% static 'js/draw_graph.js' %}"></script>
    <script type="module" src="{% static 'js/ui_control.js' %}"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlNzISa1I-DSRvTjxGzJrVaLpllerFq14&libraries=visualization&callback=initMap"
      async
      defer
    ></script>
    <script>
      var map, heatmap;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 15, // 확대 비율을 높임
          center: { lat: 36.7646035836915, lng: 127.28267774460275 },
          mapTypeId: "satellite",
        });

        var heatmapData = [];
        heatmap = new google.maps.visualization.HeatmapLayer({
          data: heatmapData,
          map: map,
        });

        // 실시간으로 데이터 업데이트
        updateHeatmapData();
      }

      function updateHeatmapData() {
        setInterval(function () {
          // 새로운 위치 데이터 생성, 예시로 무작위 위치를 생성합니다.
          // 실제 애플리케이션에서는 이 부분을 실시간 데이터로 대체해야 합니다.
          var newLocation = {
            location: new google.maps.LatLng(
              36.7646035836915 + (Math.random() - 0.5) / 100, // 예시로 작은 변화를 줌
              127.28267774460275 + (Math.random() - 0.5) / 100 // 예시로 작은 변화를 줌
            ),
            weight: (Math.random() / 1000) * 100, // 가중치를 1에서 5 사이의 무작위 값으로 설정
          };

          heatmap.getData().push(newLocation);

          if (heatmap.getData().getLength() > 1000000) {
            // 가장 오래된 데이터를 제거
            heatmap.getData().removeAt(0);
          }
        }, 10);
      }
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const videoStreamElement = document.getElementById("result-image");
        const processBtn = document.getElementById("process-btn");

        processBtn.onclick = function () {
          // 버튼 클릭 시, 이미지 스트리밍 시작
          videoStreamElement.src = "/video-stream/?" + new Date().getTime(); // 캐시 방지를 위해 타임스탬프 사용
        };
      });
    </script>
  </body>
</html>
